:root {
  --pink: #f3b8ab;
  --greyish: #b0b9b9;
  --dark: #322f2a;
  --grad-light: #f8c0a6;
  --grad-dark: #f29b7d;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }
}

/* nav styles  end*/

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  border-radius: 50px;
  margin: 0px 50px 50px 50px;
}

.first {
  background: rgb(242, 155, 125);
  background: linear-gradient(
    321deg,
    rgba(242, 155, 125, 1) 0%,
    rgba(248, 192, 166, 1) 44%,
    rgba(255, 255, 255, 1) 100%
  );
}

.second {
  background-color: var(--pink);
}

.third {
  background-color: var(--greyish);
}

.footer {
  display: flex;
  justify-content: center;
}
