:root {
  --pink: #f3b8ab;
  --greyish: #b0b9b9;
  --dark: #322f2a;
  --grad-light: #f8c0a6;
  --grad-dark: #f29b7d;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Quicksand", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-family: "Cormorant", serif;
  text-transform: uppercase;
}

p {
  font-family: "Quicksand", sans-serif;
}

nav {
  display: flex;
}

.nav-links a:hover,
a:focus {
  background-color: #ff9776;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin: 0 auto 3rem auto;

  max-width: 1200px;
  border-radius: 0 500px 500px 0;
}

.first {
  background-color: #ff9776;
  display: flex;
}

.second {
  background-color: var(--pink);
}

.third {
  background-color: var(--greyish);
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.subcontainer {
  flex-direction: column;
}

.featureimg {
  flex-grow: 3;
  min-height: 300px;
  min-width: 300px;
  max-width: 600px;
  max-height: 600px;
}

.large-nav-link {
  color: black;
}

@media screen and (min-width: 700px) {
  .section {
    border-radius: 500px;
  }
}
