:root {
  --pink: #f3b8ab;
  --greyish: #b0b9b9;
  --dark: #322f2a;
  --grad-light: #f8c0a6;
  --grad-dark: #f29b7d;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Cormorant", serif;
  text-transform: uppercase;
  font-size: 2rem;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
  margin-bottom: 1;
}

.nav-links a:hover,
a:focus {
  background-color: #ff9776;
}

.nav-links a:active {
  background-color: white;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 3rem 3rem 0;
  margin: 0 auto 3rem auto;

  max-width: 1200px;
  border-radius: 0 500px 500px 0;
  gap: 10px;
}

.first {
  background-color: #ff9776;
}

.second {
  border: 2px solid #ff9776;
}

.third {
  background-color: #ff9776;
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.subcontainer {
  flex-direction: column;
  padding-left: 3rem;
}

.featureimg {
  width: 100%;
  max-width: 500px;
  padding-left: 3rem;
}

.large-nav-link {
  color: black;
}

.nav-logo {
  max-width: 3rem;
}

.logo-text {
  font-size: 2rem;
}

.flex {
  display: flex;
}

@media (min-width: 700px) {
  .section {
    border-radius: 500px;
  }
}
